/*-------------------------------------------------
GLOBALS CLASSES
-------------------------------------------------*/
html { 
  background: url(images/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body{
	margin:0px;
	padding:0px;
	font-family: "Gill Sans","Gill Sans MT",Calibri,sans-serif;
	font-weight:lighter;
	line-height:35px;
	font-size:15px;
	background-attachment: fixed;
}
a{
	text-decoration:none;
}
img{
	max-width:100%;height:auto;width:auto;
}
p{line-height:20px;}

/* header section */
header{
	margin:0 auto;
	height:auto;
}
#pre-header{
	margin:0 auto;
	height:600px;
	width:100%;
	background:greuy;
}
.carousel-holder{
	width:100vw;
	height:600px;
	background:url(images/coffee.jpg);
	margin:0 auto;
	overflow:hidden;
}
/*-----------------max-holder---------------- */
#max-holder{
	background:#FFF;
	width:100%;
}
#max-holder .info-holder{
	margin:0 auto;
	height:auto;
	width:740px;
	overflow:hidden;
}
#max-holder .info-holder .menu-info{
	background:#fff;
	height:80%;
	width:80%;
	margin:auto auto;
	text-align:center;
}
#max-holder .info-holder .menu-info p{
	margin:30px 0px;
	padding:0px;
	font-size:70px;
	text-align:center;
	line-height:50px;
}
#max-holder .nav-bar{
	height:auto;
	width:100%;
	margin-top:1cm;
	font-family: Calibri,Candara,Segoe,"Segoe UI",Optima,Arial,sans-serif;
	margin-bottom:20px;
}
#max-holder .nav-bar .nav-menu{
	background:#e5ecf3;
	width:25%;
	height:50px;
	text-align:center;
	float:left;
	font-weight:bold;
	overflow:hidden;
	vertical-align:middle;
	cursor:pointer;
}

#max-holder .nav-bar .nav-menu:hover{
	background:#cedae7;
}

#max-holder .nav-bar .nav-menu article{
	margin-top:10px;
}

#max-holder .info-holder .menu-dinner{
	background:url("images/paper-text.jpg") no-repeat;
	color:#443858;
	width:100%;
	height:500px;
	overflow:scroll;
	line-height:20px;
}

/*-------------Body content : Wrapper!!!--------------*/
#wrapper{
	background:;
	margin:0 auto;
	width:740px;
	height:auto;
	overflow:hidden;
}

#wrapper .content{
	background:url("images/cocktail.jpg") no-repeat;
	width:100%;
	height:500px;
	padding:3%;
}
#wrapper .content h1{
	padding:0;
	margin:10px 0;
	font-weight:normal;
	font-size:60px;
	font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif
}
#wrapper .content p{
	margin-right:50%;
	margin-top:40px;
}
#wrapper .cafe-image{
	margin-top:5%;
	background:url(images/interior.jpg) no-repeat;
	width:45%;
	height:400px;
	float:left;
}
#wrapper .cafe-exp{
	padding:3%;
	background:url(images/texture.jpg) no-repeat;
	width:49%;
	float:left;
	color:#fff;
}
#wrapper .cafe-exp h1{
	padding:0;
	margin:0;
	font-weight:normal;
	font-size:40px;
	font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif
}
#wrapper .location-wrapper{
	width:100%;
	background:grrey;
	float:left;
	text-align:center;
	padding:80px 0;
}
#wrapper .location-wrapper #location-holder{
	width:170px;
	height:170px;
	
	text-align:center;
	margin:0 auto;
	border-radius:100%;
	cursor:pointer;
}
#wrapper .location-wrapper #location-holder:hover{
	color:#fff;
	background-color:#555467;
	transition: background 0.2s linear 0s, color 0.2s linear 0s;
}
#wrapper .location-wrapper #location-holder img{
	margin-top:15px;
	margin-left:5px;
}
#wrapper .location-wrapper #map{
	width:80%;
	height:500px;
	margin:0 auto;
	background:white;
	margin-top:20px;
}
.tumble-map{
	background:white;
}
.map-tumble{
	color:#fff;
	background:#555467;
}

/*-------------Footer--------------*/
footer{
	background:#24242f;
	width:100%;
}
	#footer-wrapper{
		height:auto;
		width:740px;
		overflow:hidden;
		margin:0 auto;
		background:rfed;
	}
.footer-nav{
	margin:0 auto;
	background:yfellow;
	width:345px;
	color:#fff;
	text-align:center;
}
footer #footer-wrapper .footer-logo{
	width:100%;
	text-align:center;
}
footer #footer-wrapper p{
	text-align:center;color:#6e6d85;margin-top:100px;font-family: Calibri,Candara,Segoe,"Segoe UI",Optima,Arial,sans-serif;
}
footer #footer-wrapper .footer-nav .media-nav .reservation{
	float:left;padding:0 25px;
}
footer #footer-wrapper .footer-nav .media-nav .function{
	float:left;padding:0 25px;border-left:1px solid #fff;border-right:1px solid #fff;
}
/*-------------MEDIA!!!--------------*/

@media screen and (max-width: 740px){
	#pre-header{
		width:100%;
	}
	.carousel-holder{
		width:100%;
		background:url(images/media-coffee.jpg);
	}
	#max-holder .info-holder{
	width:100%;
	}
	#wrapper{
	width:100%;
	}
	#wrapper .cafe-image{
		margin-top:10%;
		background:url(images/interior-two.jpg) no-repeat;
		width:100%;
		height:400px;
	}
	#wrapper .cafe-exp{
		background:url(images/texture.jpg) no-repeat;
		width:100%;
		float:left;
	}
	#footer-wrapper{
		width:100%;
	}
	.footer-nav{
	width:100%;
	text-align:center;
	}
	.media-nav{
		margin:0 auto;
		width:350px;
	}
	#wrapper .location-wrapper #map{
		width:95%;
	}

}
@media screen and (max-width: 478px){
	body{
		position: absolute;
	}
	#wrapper .content p{
	margin-right:10px;
	}
}